<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/users}">自己紹介登録システム</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users/new}">新規登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">一覧表示</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
