<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common/head::head_fragment('職務経歴閲覧画面')}"></head>
  <script th:inline="javascript">
    // ! flashMessage を受け取る為、inlineで処理を記述
    window.onload = function () {
      let toastList;
      toastList = [].slice
        .call(document.querySelectorAll(".toast"))
        .map(function (toastEl) {
          return new bootstrap.Toast(toastEl, {
            delay: 3000,
          });
        });
      let flashMessage = /*[[${flashMessage}]]*/ "flashMessage";
      if (flashMessage) {
        toastList[0].show();
      }
    };
  </script>
  <body>
    <!-- header -->
    <header th:replace="~{common/header}"></header>

    <div class="container p-5">
      <h1 class="text-center">職務経歴閲覧画面</h1>

      <!-- 職務経歴 -->
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="card-header container-fluid">
              <div class="row justify-content-end">
                <div class="col-1">
                  <a
                    class="btn btn-primary"
                    th:href="@{{jobCareerId}/edit(jobCareerId=${jobCareerId})}"
                    >編集</a
                  >
                </div>
              </div>
            </div>
            <div th:replace="~{job_career/job_career_card_body}"></div>
          </div>
        </div>
      </div>

      <!-- 経歴 -->
      <div class="row mb-4" th:each="career, status : ${careers}">
        <div class="col">
          <div
            th:replace="~{job_career/career_card::careerCardFragments('show')}"
          ></div>
        </div>
      </div>
    </div>

    <!-- toast -->
    <div th:replace="~{common/toast}"></div>

    <!-- footer -->
    <footer th:replace="~{common/footer}"></footer>
  </body>
</html>
