<!DOCTYPE html>
<html>

<head th:replace="~{common/head::head_fragment('編集画面')}"></head>

<body>
    <!-- header -->
    <header th:replace="~{common/header}"></header>

    <div class="container p-5">
        <h1 class="text-center">編集画面</h1>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/users/{id}/edit(id=${id})}" th:object="${userRequest}" th:method="post"
                    enctype="multipart/form-data">
                    <div class="row g-3">
                        <!-- 名前 -->
                        <div class="col-12">
                            <label class="form-label" name="name">名前<span class="text-danger">(*必須)</span></label>
                            <input type="text" th:field="*{name}" class="form-control" th:errorclass="is-invalid">
                            <span class="text-danger" th:errors="*{name}"></span>
                            <div class="form-text">※20文字以内で入力してください</div>
                        </div>
                        <!-- 年齢 -->
                        <div class="col-12">
                            <label class="form-label" name="age">年齢<span class="text-danger">(*必須)</span></label>
                            <input type="number" th:field="*{age}" class="form-control" th:errorclass="is-invalid">
                            <span class="text-danger" th:errors="*{age}"></span>
                        </div>
                        <!-- 性別 -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-label" name="gender">性別<span
                                            class="text-danger">(*必須)</span></label>
                                </div>
                                <div class="col-12">
                                    <th:block th:each="gender : ${genders}">
                                        <input class="form-check-input" type="radio" name="gender"
                                            th:id="${'form_gender_' + gender.id}" th:field="*{gender}"
                                            th:value="${gender.id}">
                                        <label class="form-check-label" th:text="${gender.name}"
                                            th:for="${'form_gender_' + gender.id}"></label>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <!-- 住所 -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-label" name="prefecture">住所<span
                                            class="text-danger">(*必須)</span></label>
                                </div>
                                <div class="col-3">
                                    <select class="form-select" name="prefecture">
                                        <th:block th:each="prefecture : ${prefectures}">
                                            <option th:value="${prefecture.id}" th:text="${prefecture.name}"
                                                th:field="*{prefecture}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-9">
                                    <input type="text" th:field="*{address}" class="form-control"
                                        th:errorclass="is-invalid">
                                    <span class="text-danger" th:errors="*{address}"></span>
                                    <div class="form-text">※50文字以内で入力してください</div>
                                </div>
                            </div>
                        </div>
                        <!-- 趣味 -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12"><label class="form-label" name="hobby">趣味</label></div>
                                <div class="col-12">
                                    <th:block th:each="hobby : ${hobbies}">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox"
                                                th:id="${'form_hobby_' + hobby.id}" th:value="${hobby.id}"
                                                th:field="*{hobby}" name="hobby"></input>
                                            <label class="form-check-label" th:text="${hobby.name}"
                                                th:for="${'form_hobby_' + hobby.id}"></label>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <!-- 自己紹介文 -->
                        <div class="col-12">
                            <label class="form-label" name="introduction">自己紹介文<span
                                    class="text-danger">(*必須)</span></label>
                            <textarea class="form-control" th:errorclass="is-invalid" th:field="*{introduction}"
                                style="height: 120px"></textarea>
                            <span class="text-danger" th:errors="*{introduction}"></span>
                        </div>
                        <!-- 写真 -->
                        <div class="col-12">
                            <label class="form-label" name="pictute">写真</label>
                            <input type="file" th:field="*{picture}" class="form-control" th:errorclass="is-invalid">
                            <span class="text-danger" th:errors="*{picture}"></span>
                            <p class="form-text">ファイルサイズの上限は 1MB です</p>
                            <p>現在登録されている画像</p>
                            <p th:if="${pictureFileName == null}">(画像は未登録です)</p>
                            <img class="view-img" th:if="${pictureFileName != null}" th:src="${base64Picture}">
                        </div>
                        <!-- ボタン -->
                        <div class="col-12 text-center">
                            <input type="submit" value="更新" class="btn btn-primary">
                            <input type="reset" value="リセット" class="btn btn-outline-secondary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="~{common/footer}"></footer>
</body>

</html>
